body {
	margin: 3em auto 2px;
	width : 980px;
	font-family: 'Times New Roman', 'Times', serif;
}

p {
	line-height: 2;
}

a img {
	border: none;
}

section {
	width: 100%;
	display: block;
	clear: both;
	margin: 2em 0;
}

a {
	color: #229;
}

a:visited {
	color: #333;
}

section>h1, section>h2 {
	display: block;
	float: left;
	clear: left;
	width: 30%;
	margin: 0;
}

section>h1>a:visited, section>h1>a {
	position: absolute;
	margin-left: -1em;
	color: #ddd;
	text-decoration: none;
}

section>h1:hover>a:visited, section>h1:hover>a {
	color: black;
}

section>h2 {
	font-weight: normal;
	font-size: 1em;
	font-style: italic;
}

hgroup h2, hgroup span {
	font-size: 1em;
	font-style: none;
	font-weight: normal;
	display: inline-block;
	margin: 0;
}

hr.clearfix {
	clear: both;
	border: none;
}


hgroup h2, p.achievement span.description {
	width: 72%;
}

hgroup h2 p, div p {
	margin: 0;
}

hgroup span, span.date {
	text-align: right;
	width: 27%;
}

p.achievement * {
	display: inline-block;
}

ul {
	padding-left: 20px;
	margin-bottom: 2em;
}

li {
	margin: 0;
	text-indent: -2px;
}

li p {
	margin: 0;
}

div.address { 
	text-align: left; 
	width: 50%;
	display: inline-block;
	float:left;
}

div.other {
	text-align: right; 
	width: 50%;
	display: inline-block;
	float: left;
}

section>p, section>div, section>ul, section>hgroup{
	margin-left: 30%;
	display:block;
}

section.header {
	border-bottom: 1px solid black;
	line-height: 2em;
}

section.header p {
	margin: 0;
}

section.header div.name {
	margin: 0;
	float: left;
	font-size: 2em;
}

section.header div.name a {
	color: black;
	text-decoration: none;
}


section.header div.url, div.other {
	margin: 0;
	text-align: right;
	font-family: 'courier', 'monospace';
}

section>p {
	margin-top: 0;
	margin-bottom: 0;
}

article footer {
	margin: 0 auto;
	width: 63px;
}

article footer a {
	display: block;
	margin: 0 auto;
	text-align:center;
}

footer {
	text-align: right;
	font-size: .8em;
	margin: 2em 0 0 0;
}

footer, footer a, footer a:visited, footer a:active {
	color: #555;
}
