<!doctype html!>
<html language="en">
	<head>
		<title>Edd's Résumé.</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="support/style.css"/>
	</head>
  <body>
    <section class="header">
      <div class="name">
				<a href="http://edd.heroku.com/about"><%=name%></a>
      </div>
      <div class="url">
        <%=html url%>
      </div>
    </section>
    <article class="resume">

      <section id="contact">
				<h1>
					<a href="#contact">#</a>
					<%=contact%>
				</h1>
				<div>
					<div class="address">
						<% (0..3).each do |i| %>
						<%=html contact_address[i]%>
						<%end%>
					</div>
					<div class="other">
						<% (0..3).each do |i| %>
						<%=html contact_other[i]%>
						<%end%>
					</div>
				</div>
      </section>

			<hr class="clearfix" />

      <section id="skill">
				<h1>
					<a href="#skill">#</a>
					<%=skill%>
				</h1>
        <% skills.each do |skill| %>
          <%=html skill%>
        <% end %>
      </section>

      <section id="experience">
				<h1>
					<a href="#experience">#</a>
					<%=experience%>
				</h1>
				<% experiences.each do |experience| %>
				<hgroup>
					<h2><%=html experience.title%></h2>
          <span class="date">
            <%=experience.dstart%>&mdash;<%=experience.dend%>
          </span>
        </hgroup>
        <ul>
          <% experience.litems.each do |item| %>
					<% if item.class == String %>
          	<li> <%=html item%></li>
					<% else %>
						<%=html item%>
					<% end %>
          <% end %>
        </ul>
				<% end %>
      </section>

      <section id="education">
			<h1>
				<a href="#education">#</a>
				<%=education%>
			</h1>
        <% educations.each do |education| %>
          <hgroup>
            <h2><%= html education.title%></h2>
            <span class="date">
               <%= education.date%>
            </span>
          </hgroup>
          <ul>
            <% education.litems.each do |item| %>
            <li> <%=html item%> </li>
            <% end %>
          </ul>
        <% end %>
      </section>

      <section id="achievement">
			<h1>
				<a href="#achievement">#</a>
				<%=achievement%>
			</h1>
        <%achievements.each do |achievement|%>
          <p class="achievement">
						<span class="description">
							<strong><%=achievement.name%></strong>
							<em><%=achievement.context%></em>
						</span>
            <span class="date"><%=achievement.year%></span>
          </p>
        <%end%>
      </section>

      <section id="interest">
			<h1>
				<a href="#interest">#</a>
				<%=interest%>
			</h1>
        <ul>
        <%interests.each do |interest| %>
          <li> <%=html interest%> </li>
        <%end%>
        </ul>
      </section>

			<footer>
				<a href="http://edd.heroku.com/qr"><img src="<%=footerimg%>"/></a>
			</footer>
    </article>
		<footer>
			Generated. For more information see <a
			href="https://github.com/eddsteel/cv" title="Github Repository">the
			github repository</a>. <a href="http://edd.heroku.com/resume.pdf">PDF
			version available</a>.
		</footer>
  </body>
</html>
